.base{
    
    margin: 0 auto;
}
.contacts{
    font-size: 24px;
    font-weight: 800;
}
footer{
    margin-top: 25px;
}
footer p{
    font-size: 18px;
    font-weight: 800;
}
footer a{
    margin-right: 15px;
}
